* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Koulen', cursive;
    font-size: 1.3rem;
    background-color: rgb(53, 53, 53);
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.computer_img_div {
    height: 30vh;
    width: 21vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player_img_div {
    height: 30vh;
    width: 21vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle_text {
    text-align: center;
    font-size: smaller;
    color: whitesmoke;
}

.inner__container {
    width: 80vw;
    height: 50vh;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.count {
    text-align: center;
    color: whitesmoke;
    padding: 30px;
}

.reset {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.reset button {
    width: 100px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons button {
    width: 120px;
    background-color: rgb(119, 169, 169);
    border: none;
    border-radius: 5px;
}